.navbar-main-parent{
    height: 68px;
    width: 100%;
    position: relative;
}
.navbar-main{
    height: 68px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}
.navbar-logo{
    width: auto;
    height: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
    display: flex;
    align-items: center;
}
.navbar-search{
    width: 300px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 4px 10px;
}
.navbar-search input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
}
.navbar-user-links{
    display: flex;
    width: fit-content;
    gap: 15px;
    height: 30px;
}
.navbar-user-links span{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar-user-links span svg{
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    height: 25px;
    color: black;
}
.navbar-user-links .css-2s90m6-MuiAvatar-root{
    height: 100%;
    width: auto;
    aspect-ratio: 1;
}

.model-user-geted{
    position: absolute;
    top: 70px;
    width: 300px;
    height: auto;
    max-height: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
    overflow-y: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
}
.user-item-m-k{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
    cursor: pointer;
    gap: 10px;

}
.user-item-m-k:hover{
    background-color: #ccc;
}
.n-m-user-image{
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}
.n-m-user-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* notification */

.notification-modal-class
 {
    position: absolute;
    top:70px ;
    right:40px;
    width: 300px;
    height: 300px;
    overflow: scroll;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
    outline: none
}
.user-icon-modal{
    position: absolute;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    right: 10px;
    padding: 10px;
    width: 200px;
    z-index: 10;
}
.profile-sidebar{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.user-icon-main{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}
.user-icon-m-item{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}
.user-icon-m-item:hover{
    background-color: rgba(0,0,0,0.1);
}