.main-profile-container {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 15px;
    overflow: scroll;

    box-sizing: border-box;
}

.profile-cover {
    width: 100%;
    height: 100%;
    position: relative;
}

.profile-cover span {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    border: 2px solid rgba(256, 256, 256, 0.6);
    font-size: 12px;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 15px;
}

.profile-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.7;
}

.profile-theme-page {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    background-color: #808080;
}

.profile-page-content {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    /* height: calc(100vh - 250px); */
    box-sizing: border-box;
    padding: 20px 40px;
    gap: 20px;
}

.profile-page-content .left {
    width: 300px;
    height: calc(100% - 130px);
    transform: translateY(-130px);
    position: sticky;
    top: 130px;
}

.profile-left-card {
    min-height: calc(100% + 100px);
    /* background-color: #eeeeee; */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 15px;
    max-width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
}

.p-c-avtar {
    width: 130px;
    height: 130px;
    background-color: #808080;
    border-radius: 10px;
    flex-shrink: 0;
    margin: 0 auto;
}
.p-c-avtar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.p-c-name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.p-c-followers {
    display: flex;
    justify-content: space-evenly;
    background-color: #ddd;
    border-radius: 15px;
    padding: 3px 10px;
}

.p-c-links {
    height: 30px;
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

.p-c-created-date-and-report {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

.profile-page-content .right {
    width: calc(100% - 330px);
    flex-shrink: 1;
    height: 100%;
    overflow-y: scroll;
    border-radius: 15px;
    padding-block: 20px;
}

.p-c-message-more {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.p-c-msg {
    width: fit-content;
    padding: 0 10px;
    background-color: #000;
    color: white;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
}

.p-c-share,
.p-c-more {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
}

/*  */
.p-p-fullname {
    display: flex;
    padding: 25px 20px;
    justify-content: space-between;
}

.p-p-fullname .name {
    font-weight: 700;
    font-size: 22px;
}

.p-edit-btn {
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 12px;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 15px;
}
.p-p-disc-section{
    background-color: #fff;
    width: calc(100% - 20px);
    margin: auto;
    border-radius: 10px;
}
.p-p-disc {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 24px;

}

::-webkit-scrollbar {
    display: none;
}

.p-p-more-details {
    padding: 10px 20px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.p-p-more-details tr td:first-child {
    min-width: 130px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.p-p-more-details tr td:last-child {
    font-weight: 600;
}

.add-post-from-profile-page {
    width: calc(100% - 20px);
    margin-block: 25px;
    margin-inline: auto;
    height: 120px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.post-content {
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.add-post-user-avtar {
    width: 45px;
    height: 45px;
    background-color: #e1e1e1;
    border-radius: 50%;
    flex-shrink: 0;
}

.add-post-text {
    width: 100%;
    height: 100%;
    flex-shrink: 1;
}
.add-post-text input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.post-add-content-btn {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    gap: 15px;
    box-sizing: border-box;
    background-color: #e1e1e1;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post-add-content-btn span {
    font-size: 14px;
    color: #000;
}

/* @media screen and (max-width:978px) {

    .profile-theme-page {
        height: 200px;
    }

    .profile-page-content {
        height: calc(100vh - 200px);
    }

    .profile-page-content .left {
        width: 300px;
        height: calc(100% - 70px);
        transform: translateY(-70px);
    }

    .profile-left-card {
        height: calc(100% + 70px);
    }

    .profile-page-content .right {
        width: calc(100% - 250px);
    }
} */


@media screen and (max-width:1100px) {
    .profile-page-content {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        gap: 0;
        padding: 10px;
    }

    .main-profile-container {
        overflow: auto;
    }
    .profile-page-content .left{
        position: static;
        top: auto;
    }
    .profile-page-content .right {
        width: 100%;
        padding: 10px;
        transform: translateY(-90px);
    }

    .profile-cover span {
        bottom: auto;
        top: 20px;
    }

    .p-p-fullname {
        padding: 25px 10px;
    }

    .p-p-disc {
        padding: 10px;
    }

    .p-p-more-details {
        padding: 10px 10px 30px;
    }
}