.settings-main-page{
    height: calc(100vh - 90px);
    overflow: auto;
    padding-block: 10px;
    box-sizing: border-box;
}
#setting-main{
    background-color: white !important;
    padding: 20px !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1) !important;
}